# Compilados e build
target/
*.class

# Logs
*.log

# Configuração IntelliJ IDEA
.idea/
*.iml

# Configuração VSCode (se usar)
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
